---
import { Icon } from 'astro-icon/components'

---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5'>
		<div class='flex flex-row w-full justify-end pr-4 gap-4'>
			<!-- Telegram -->
			<a
				class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
				href='https://t.me/uxolli'
				target="_blank"
				aria-label='Telegram'
			>
				<Icon name="telegram" class="h-4 w-4 flex-shrink-0" />
			</a>
			<!-- Linkedin -->
			<a
				class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
				href='https://www.linkedin.com/in/igorkazak/'
				target="_blank"
				aria-label='Linkedin'
			>
				<Icon name="linkedin" class="h-4 w-4 flex-shrink-0" />
			</a>
			<!-- Mail -->
			<a
				class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
				href='mailto:dev@xolli.fun'
				aria-label='Mail to dev@xolli.fun'
			>
				<Icon name="mail" class="h-4 w-4 flex-shrink-0" />
			</a>
		</div>
	</div>
</footer>
